<footer class="bg-primary">
  <div class="container">
    <!-- footer-header -->
    <div class="d-flex d-sm-none justify-between align-items-center pt-48">
      <!-- navbar -->
      <ul class="d-flex justify-between align-items-center gap-48">
        <li><a class="text-white" href="#">首頁</a></li>
        <li><a class="text-white" href="#">系列鏡框</a></li>
        <li><a class="text-white" href="#">門市據點</a></li>
        <li><a class="text-white" href="#">部落格</a></li>
        <li><a class="text-white" href="#">常見問題</a></li>
      </ul>
      <!-- social -->
      <ul class="d-flex justify-between align-items-center gap-32">
        <li>
          <a href="#"
            ><img class="icon" src="../assets/images/ic-social-fb.png" alt="fb"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img class="icon" src="../assets/images/ic_social_ig.png" alt="ig"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img
              class="icon"
              src="../assets/images/ic_social_line.png"
              alt="line"
          /></a>
        </li>
      </ul>
    </div>
    <!-- footer-body -->
    <div class="border-bottom pt-24 pb-32">
      <!-- phone -->
      <div class="d-flex justify-between align-items-center">
        <!-- phone -->
        <div>
          <span class="material-symbols-outlined fs-xl fs-sm-base text-white">
            call
          </span>
          <a href="tel:+886-8-0000000" class="fs-xl fs-sm-base text-white ml-20"
            >0800-000-000</a
          >
        </div>
        <!-- social -->
        <ul class="d-none d-sm-flex gap-sm-8">
          <li>
            <a href="#"
              ><img
                class="icon"
                src="../assets/images/ic-social-fb.png"
                alt="fb"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                class="icon"
                src="../assets/images/ic_social_ig.png"
                alt="ig"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                class="icon"
                src="../assets/images/ic_social_line.png"
                alt="line"
            /></a>
          </li>
        </ul>
      </div>
      <!-- mail -->
      <div>
        <span class="material-symbols-outlined fs-xl fs-sm-base text-white">
          mail
        </span>
        <a
          href="mailto:glasses@business.com"
          class="fs-xl fs-sm-base text-white ml-20"
        >
          glasses@business.com
        </a>
      </div>
    </div>
    <!-- footer-footer -->
    <div
      class="d-flex flex-sm-column justify-between align-items-center align-items-sm-start py-32 py-sm-24"
    >
      <p class="text-white mb-sm-8">
        Copyright © 2020 Glasses.All rights reserved.
      </p>
      <ul
        class="d-flex flex-sm-column justify-between align-items-center align-items-sm-start gap-48 gap-sm-8"
      >
        <li class="text-white fs-sm fs-sm-base">隱私權政策</li>
        <li class="text-white fs-sm fs-sm-base">服務條款</li>
      </ul>
    </div>
  </div>
</footer>
