<nav class="bg-primary py-12 py-sm-0">
  <div
    class="container d-flex justify-between align-items-center flex-sm-column px-sm-0"
  >
    <!-- logo -->
    <a class="navbar-logo" href="index.html"
      ><img class="" src="../assets/images/logo-white.png" alt="logo"
    /></a>
    <!-- nav -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="glass.html">系列鏡框</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="store.html">門市據點</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="blog.html">部落格</a></li>
      <li class="nav-item">
        <a class="nav-link" href="question.html">常見問題</a>
      </li>
    </ul>
  </div>
</nav>
