*,*::before,*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', 'Roboto', sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.container  {
  max-width: 1320px;
  padding: 0 12px;
  margin: 0 auto;
  @include ipad() {
    max-width: 720px;
  }
  @include sm-mobile() {
    margin: 320px;
  }
}



@include mobile() {
  .mx-sm-0 {
    margin-right: 0;
    margin-left: 0;
  }
  .px-sm-0 {
    padding-right: 0;
    padding-left: 0;
  }
}
 