.banner {
  background-image: url("../images/home-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 296px 0;
}
.home-icon {
  width: 100px;
  height: 100px;
}
.design-section{
  background-image: url("../images/index-bg.png");
  background-position: center;
  background-size: cover;
}
.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 4px;
  border: 1px solid $border-color;
  box-shadow: 0px 2px 6px $shadow-color-16;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  height: 100%;
  .date{
    margin-top: 72px;
  }
}
.form-input {
  width: 100%;
  padding: 6px 12px;
  background-color: transparent;
  border: 1px solid $black;
}
.input-btn {
  width: 100%;
  padding: 16px 0;
  border: none;
  font-weight: $font-weight-bold;
  margin-top: 40px;
  cursor: pointer;
  &:hover{
    background-color: $secondary;
  }
}
@include ipad(){
  .banner {
    background-image: url("../images/home-header-sm.png");
  }
  .design-section{
    background-image: url("../images/index-bg-md.png");
  }
}

@include mobile() {
  .banner {
    padding: 144px 0;
  }
  .design-section{
    background-image: url("../images/index-bg-sm.png");
  }
}