<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- header -->
    <div class="glass-section bg-white">
      <!-- glass-nav-banner -->
      <div class="glass-nav container">
        <div class="row justify-center mx-md-0">
          <div class="glass-nav-item col-4 px-12 py-sm-16 text-center border">
            <a
              class="fs-l fs-md-lg fs-sm-base text-black fw-medium py-24 py-md-16 py-sm-0"
              href="#"
              >OPTICAL</a
            >
          </div>
          <div class="glass-nav-item col-4 px-12 py-sm-16 text-center border">
            <a
              class="fs-l fs-md-lg fs-sm-base text-black fw-medium py-24 py-md-16 py-sm-0"
              href="#"
              >SUNGLASSES</a
            >
          </div>
          <div class="glass-nav-item col-4 px-12 py-sm-16 text-center border">
            <a
              class="fs-l fs-md-lg fs-sm-base text-black fw-medium py-24 py-md-16 py-sm-0"
              href="#"
              >FUNCTIONAL</a
            >
          </div>
        </div>
      </div>
      <!-- product-header -->
      <div class=".container-fluid">
        <div class="row justify-center align-items-center mx-md-0">
          <div class="col-6">
            <img
              class="d-md-none"
              src="../assets/images/product-header-1.png"
              alt="product-header-1"
            />
            <img
              class="product-header-sm d-none d-md-block"
              src="../assets/images/product-header-sm-1.png"
              alt="product-header-sm-1"
            />
          </div>
          <div class="col-6">
            <img
              class="d-md-none"
              src="../assets/images/product-header-2.png"
              alt="product-header-2"
            />
            <img
              class="product-header-sm d-none d-md-block"
              src="../assets/images/product-header-sm-2.png"
              alt="product-header-sm-2"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- 賽璐珞鈦金屬混合鏡框-->
    <section class="pb-sm-0">
      <div class="container d-flex flex-column align-items-center">
        <h2 class="en-title">Celluloid Combi</h2>
        <p class="fs-l fs-sm-lg mb-24">賽璐珞鈦金屬混合鏡框</p>
        <!-- products list -->
        <ul class="row flex-wrap row-gap-80 row-gap-md-40 row-gap-sm-24">
          <li class="col-3 col-md-6 col-sm-12 px-12">
            <div class="product-box">
              <!-- product image -->
              <img src="../assets/images/product-1.png" alt="product-1.png" />
              <!-- product content -->
              <div class="d-flex justify-between fs-lg font-en">
                <p>BJ41600S</p>
                <p class="text-primary fw-medium">NTD3,490</p>
              </div>
              <!-- color box -->
              <div class="d-flex">
                <div class="box box-dark mr-8"></div>
                <div class="box box-brown"></div>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 px-12">
            <div class="product-box">
              <!-- product image -->
              <img src="../assets/images/product-2.png" alt="product-2.png" />
              <!-- product content -->
              <div class="d-flex justify-between fs-lg font-en">
                <p>BJ41600S</p>
                <p class="text-primary fw-medium">NTD3,490</p>
              </div>
              <!-- color box -->
              <div class="d-flex">
                <div class="box box-dark mr-8"></div>
                <div class="box box-brown"></div>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 px-12">
            <div class="product-box">
              <!-- product image -->
              <img src="../assets/images/product-3.png" alt="product-3.png" />
              <!-- product content -->
              <div class="d-flex justify-between fs-lg font-en">
                <p>BJ41600S</p>
                <p class="text-primary fw-medium">NTD3,490</p>
              </div>
              <!-- color box -->
              <div class="d-flex">
                <div class="box box-dark mr-8"></div>
                <div class="box box-brown"></div>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 px-12">
            <div class="product-box">
              <!-- product image -->
              <img src="../assets/images/product-4.png" alt="product-4.png" />
              <!-- product content -->
              <div class="d-flex justify-between fs-lg font-en">
                <p>BJ41600S</p>
                <p class="text-primary fw-medium">NTD3,490</p>
              </div>
              <!-- color box -->
              <div class="d-flex">
                <div class="box box-dark mr-8"></div>
                <div class="box box-brown"></div>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 px-12">
            <div class="product-box">
              <!-- product image -->
              <img src="../assets/images/product-5.png" alt="product-5.png" />
              <!-- product content -->
              <div class="d-flex justify-between fs-lg font-en">
                <p>BJ41600S</p>
                <p class="text-primary fw-medium">NTD3,490</p>
              </div>
              <!-- color box -->
              <div class="d-flex">
                <div class="box box-dark mr-8"></div>
                <div class="box box-brown"></div>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 px-12">
            <div class="product-box">
              <!-- product image -->
              <img src="../assets/images/product-6.png" alt="product-6.png" />
              <!-- product content -->
              <div class="d-flex justify-between fs-lg font-en">
                <p>BJ41600S</p>
                <p class="text-primary fw-medium">NTD3,490</p>
              </div>
              <!-- color box -->
              <div class="d-flex">
                <div class="box box-dark mr-8"></div>
                <div class="box box-brown"></div>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 px-12">
            <div class="product-box">
              <!-- product image -->
              <img src="../assets/images/product-7.png" alt="product-7.png" />
              <!-- product content -->
              <div class="d-flex justify-between fs-lg font-en">
                <p>BJ41600S</p>
                <p class="text-primary fw-medium">NTD3,490</p>
              </div>
              <!-- color box -->
              <div class="d-flex">
                <div class="box box-dark mr-8"></div>
                <div class="box box-brown"></div>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 px-12">
            <div class="product-box">
              <!-- product image -->
              <img src="../assets/images/product-8.png" alt="product-8.png" />
              <!-- product content -->
              <div class="d-flex justify-between fs-lg font-en">
                <p>BJ41600S</p>
                <p class="text-primary fw-medium">NTD3,490</p>
              </div>
              <!-- color box -->
              <div class="d-flex">
                <div class="box box-dark mr-8"></div>
                <div class="box box-brown"></div>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 px-12">
            <div class="product-box">
              <!-- product image -->
              <img src="../assets/images/product-9.png" alt="product-9.png" />
              <!-- product content -->
              <div class="d-flex justify-between fs-lg font-en">
                <p>BJ41600S</p>
                <p class="text-primary fw-medium">NTD3,490</p>
              </div>
              <!-- color box -->
              <div class="d-flex">
                <div class="box box-dark mr-8"></div>
                <div class="box box-brown"></div>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 px-12">
            <div class="product-box">
              <!-- product image -->
              <img src="../assets/images/product-10.png" alt="product-10.png" />
              <!-- product content -->
              <div class="d-flex justify-between fs-lg font-en">
                <p>BJ41600S</p>
                <p class="text-primary fw-medium">NTD3,490</p>
              </div>
              <!-- color box -->
              <div class="d-flex">
                <div class="box box-dark mr-8"></div>
                <div class="box box-brown"></div>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 px-12">
            <div class="product-box">
              <!-- product image -->
              <img src="../assets/images/product-11.png" alt="product-11.png" />
              <!-- product content -->
              <div class="d-flex justify-between fs-lg font-en">
                <p>BJ41600S</p>
                <p class="text-primary fw-medium">NTD3,490</p>
              </div>
              <!-- color box -->
              <div class="d-flex">
                <div class="box box-dark mr-8"></div>
                <div class="box box-brown"></div>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 px-12">
            <div class="product-box">
              <!-- product image -->
              <img src="../assets/images/product-12.png" alt="product-12.png" />
              <!-- product content -->
              <div class="d-flex justify-between fs-lg font-en">
                <p>BJ41600S</p>
                <p class="text-primary fw-medium">NTD3,490</p>
              </div>
              <!-- color box -->
              <div class="d-flex">
                <div class="box box-dark mr-8"></div>
                <div class="box box-brown"></div>
              </div>
            </div>
          </li>
        </ul>
        <!-- pagination -->
        <div class="pagination d-flex align-items-center mt-80">
          <a href="#" class="previous border border-dark-gray link-dark-gray"
            >上一頁</a
          >
          <a href="#" class="border border-dark-gray link-dark-gray">1</a>
          <a href="#" class="border border-dark-gray link-dark-gray active"
            >2</a
          >
          <a href="#" class="border border-dark-gray link-dark-gray">3</a>
          <a href="#" class="border border-dark-gray link-dark-gray">4</a>
          <a href="#" class="border border-dark-gray link-dark-gray">5</a>
          <a href="#" class="next border border-dark-gray link-dark-gray"
            >下一頁</a
          >
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
